.option {
  display: flex;
  gap: rem(10);
  align-items: center;
  cursor: pointer;

  &:has(input:checked) {
    .options__text {
      color: var(--color-main);
    }
  }

  &__input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(20);
    height: rem(20);
    appearance: none;
    cursor: pointer;
    content: '';
    border: rem(1) solid var(--color-gray);
    border-radius: 50%;

    &:checked {
      border-color: var(--color-main);

      &::before {
        position: absolute;
        width: rem(12);
        height: rem(12);
        content: '';
        background-color: var(--color-main);
        border-radius: 50%;
      }
    }
  }

  &__text {
    font-size: rem(14);
    font-weight: 500;
    line-height: 145%;
    color: var(--color-gray);
  }
}
